.question-box,
.question-box label {
  margin-bottom: 1rem;
}

.question-box label {
  cursor: pointer;
}

.question-box {
  border-left: 4px solid #7c2f2e;
  padding-left: 1rem;
}

.question-box input {
  display: none;
}

.question-box input:checked ~ p {
  display: block;
  margin-top: 1rem;
}

.question-box input:not(:checked) ~ p {
  display: none;
}
